<h3>Sign up</h3>
<%= form_for @user do |f| %>
  <%= f.text_field :username, :placeholder => "username" %>
  <%= f.text_field :email, :placeholder => "email" %>
  <%= f.password_field :password, :placeholder => "password" %>
  <%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
  <%= f.submit :value => "Sign up" %>
<% end %>
