<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <hr />
  <%= yield %>
  <span class="twelwe columns alpha">
    <%= debug params if Rails.env.development? %>
  </span>
</div>
</body>
</html>
